.logo-left{
	line-height: 55px;
}
.logo-left i {
	font-size:20px;
}
.logo-left {
	text-align:center;
}
.img-w80{
	width:70% !important;
	display:block;
	margin:auto;
}
.logo-right a{
	display:inline-block;
	margin-top:14px;
	float:right;
	margin-right:20px;
}
.header-top{
	height:55px;
}

